<div class="container">
  <div class="row" data-controller="recipe-category">
    <div class="d-flex align-items-baseline">
      <%= link_to :back, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-chevron-left pe-3"></i>
      <% end %>
      <h1>Mes <b>repas</b></h1>
    </div>
  </div>

  <div class="row">
    <div class="cards-logs-grid">
      <% @meals_logs.each do |meal_log| %>
        <div class="card-log">
          <div class="card-log-img" style="background-image: url(<%= meal_log.recipe.picture %>)"></div>
          <div class="card-log-content">
            <h5><%= meal_log.recipe.name %>
             le <%= meal_log.date.strftime("%d/%m/%Y") %></h5>
            <%= meal_log.comment %> <br>
            <%= link_to "#" do %><i class="fa-solid fa-pen me-3"></i><% end %>
            <%= link_to meals_log_path(meal_log),
                data: {turbo_method: :delete,
                turbo_confirm: "Je confirme la suppression"} do %>
                <i class="fa-solid fa-trash"></i>
            <% end %>
            <%= link_to meals_log_path(meal_log) do %> <i class="fa-solid fa-eye ms-3"></i><% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
