<div class="container">
  <div class="d-flex align-items-baseline">
    <%= link_to :back, class: "text-decoration-none text-muted" do %>
      <i class="fa-solid fa-chevron-left pe-3"></i>
    <% end %>
    <h1 class="mb-4">Ajout<br><strong>repas</strong></h1>
  </div>

  <h2>Mon <%= @meal.category.downcase %> : <%= @meal.name.downcase %></h2>
    <%= simple_form_for [@meal, @meal_log] do |f| %>
      <div class="row">
        <div class="col-5">
          <div class="card-show" style="background-image: url(<%= @meal.picture %>)"></div>
        </div>
        <div class="col-7 input-blue"><i class="fa-regular fa-calendar"></i>
          <%= f.input :date, as: :string, label: false, input_html: { id: 'weight-blue', data: { controller: "datepicker" } }, placeholder: "Date" %>
        </div>
      </div>

      <div class="row mt-2">
        <%= f.input :comment, label: false, placeholder: "Commentaire", input_html: { class: 'input-text' }, html5: true %>
        <div><%= f.submit "Valider", class: "btn btn-orange" %></div>
      </div>
    <% end %>
</div>
