<div class="container mt-3 d-flex">
  <div class="row w-100">
    <div class="d-flex align-items-baseline">
      <%= link_to :back, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-chevron-left pe-3"></i>
      <% end %>
      <h1>Détail<br>
      <strong>repas</strong></h1>
    </div>

    <div class="mt-4 d-flex flex-column align-items-center">
      <div class="input-blue flex-column mb-2">
          <span class="pt-1"><%= @meal_log.recipe.category%></span>
      </div>

      <div class="input-orange mb-2 mt-3">
        <%= @meal_log.recipe.name %>
      </div>
    </div>

    <div class="d-flex mt-4 ms-4 me-4">
        <h2 class="h2">Mon <%= @meal_log.recipe.category.downcase %> du <%= @meal_log.date.strftime('%d/%m/%Y') %></h2>
    </div>
      <div class="mt-4 ms-4 me-4">
        <div class="card-logs">
          <%= image_tag(@meal_log.recipe.picture) %>
        </div>
      </div>
      <div class="mt-4 ms-4 me-4">
          <div class="h2">Mon avis sur le repas</div>
          <%= @meal_log.comment %>
      </div>
  </div>
</div>
