<div class="container d-flex">
  <div class="row m-2" data-controller="recipe-category">
    <div class="d-flex align-items-baseline">
      <%= link_to :back, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-chevron-left pe-3"></i>
      <% end %>
      <h1 class="mb-4">Toutes les<br><b>recettes</b></h1>
    </div>

    <div class="mt-2">
      <div class="d-flex justify-content-around">
        <button data-recipe-category-target="petitdej" data-action="click->recipe-category#loadPetitdej" class="btn-orange-mini">Petit-déj</button>
        <button data-recipe-category-target="dej" data-action="click->recipe-category#loadDej" class="btn-white-grey">Déjeuner</button>
        <button data-recipe-category-target="diner" data-action="click->recipe-category#loadDiner" class="btn-white-grey">Dîner</button>
      </div>

      <div data-recipe-category-target="petitdejSection" class="mt-3">
        <h2 class="mb-4 mt-4">Petit-déjeuners</h2>
        <div class="cards-grid">
          <% @petitdejs.each do |petitdej| %>
            <%= link_to recipe_path(petitdej) do %>
              <div class="card" style="background-image: url(<%= petitdej.picture %>)"></div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div data-recipe-category-target="dejSection" class="mt-3 d-none">
        <h2 class="mb-4 mt-4">Déjeuners</h2>
        <div class="cards-grid">
          <% @dejs.each do |dej| %>
            <%= link_to recipe_path(dej) do %>
              <div class="card" style="background-image: url(<%= dej.picture %>)"></div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div data-recipe-category-target="dinerSection" class="mt-3 d-none">
        <h2 class="mb-4 mt-4">Dîners</h2>
        <div class="cards-grid">
          <% @diners.each do |diner| %>
            <%= link_to recipe_path(diner) do %>
              <div class="card" style="background-image: url(<%= diner.picture %>)"></div>
            <% end %>
          <% end %>
        </div>
      </div>


    </div>
  </div>
</div>
