<div class="container">
  <div class="d-flex align-items-baseline">
    <%= link_to :back, class: "text-decoration-none text-muted" do %>
      <i class="fa-solid fa-chevron-left pe-3"></i>
    <% end %>
    <h1 class="mb-4">Mon<br><strong>évolution</strong></h1>
  </div>

<%= form_with url: health_logs_path, method: :get, class: "d-flex mb-3 mt-3" do %>
  <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control input-left-blue",
        placeholder: "entre le"
    %>
    <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control input-right-blue",
        placeholder: "et le"
    %>
  <%= submit_tag "ok", name: "", class: "btn btn-blue m-2" %>

<% end %>

<%# <%= render "chart" %>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<%= javascript_tag do %>
  new Chart(document.getElementById('myChart'), {
    data: {
      labels: <%= @dates.to_json.html_safe %>,
      datasets: [{
        type: 'line',
        label: 'poids',
        data: <%= @weights %>,
        borderWidth: 1,
        backgroundColor: 'rgba(0, 0, 0)',
        borderColor: 'rgba(0, 0, 0)'
      },{
        type: 'line',
        label: 'humeur',
        data: <%= @mood %>,
        borderWidth: 1,
        backgroundColor: 'rgba(33, 158, 188, 0.8)',
        borderColor: 'rgba(33, 158, 188, 0.8)',
      } , {
        type: 'bar',
        label: 'sport',
        data: <%= @activities %>,
        borderWidth: 1,
        backgroundColor: 'rgba(33, 158, 188, 0.8)',
        barThickness: 10,
        borderRadius: 35,
      }, {
        type: 'bar',
        label: 'alimentation',
        data: <%= @meals %>,
        borderWidth: 1,
        backgroundColor: 'rgba(241, 137, 64, 0.8)',
        barThickness: 10,
        borderRadius: 35,
      }]
    },
    options: {
      tension: 0.4,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
<% end %>

<div>
<h2>Mon alimentation</h2>
  <% if @allmeals.count != 0 %>
    <% if @allmeals.count == 1 %>
      <p>Une recette suivie.</p>
    <% else %>
      <p><%= @allmeals.count %> recettes suivies.</p>
    <% end %>
      <%= link_to "Détails", "#", class:"btn btn-blue" %>
  <% else %>
    <p>Vous n'avez pas encore enregistré de repas sur cette période.</p>
  <% end %>
</div>

<div>
<h2>Mon activité physique</h2>
  <% if @allactivities.count != 0 %>
      <% if @allactivities.count == 1 %>
        <p>Une activité enregistrée.</p>
      <% else %>
        <p><%= @allactivities.count %> activités enregistrées.</p>
      <% end %>
      <%= link_to "Détails", "#", class:"btn btn-blue" %>
  <% else %>
    <p>Vous n'avez pas encore enregistré d'activité sur cette période.</p>
  <% end %>
</div>

  <%= link_to "Je m'actualise", new_health_log_path, class:"btn btn-orange" %>

</div>
