<div class="container">
    <div class="d-flex align-items-baseline">
      <%= link_to :back, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-chevron-left pe-3"></i>
      <% end %>
      <h1>Suivi <br><b>santé</b></h1>
    </div>

  <%= simple_form_for @health_log do |f| %>
    <%= f.input :date, label: false, input_html: { class: 'input-blue' }, html5: true %>
    <div class="input-blue">
      <%= f.input :weight, label: false, placeholder: "Poids en kg", input_html: { id: 'weight-blue' } %><i class="fa-solid fa-weight-scale"></i>
    </div>

    <div data-controller="slider" class="text-center mt-3">
      Mon alimentation
      <div class="slidecontainer">
        <i class="fa-solid fa-burger iblue"></i>
        <input type="range" min="0" max="10" value="5" class="slider slider-blue"
               data-slider-target="rating_nutrition"
               data-action="input->slider#updateValue"
               name="health_log[rating_nutrition]">
        <i class="fa-solid fa-carrot iblue"></i>
      </div>
      <div data-slider-target="rating_nutrition_text">5</div>

      Mon activité physique
      <div class="slidecontainer">
        <i class="fa-solid fa-couch iorange"></i>
        <input type="range" min="0" max="10" value="5" class="slider slider-orange"
               data-slider-target="rating_activity"
               data-action="input->slider#updateValue"
               name="health_log[rating_activity]">
        <i class="fa-solid fa-person-running iorange"></i>
      </div>
      <div data-slider-target="rating_activity_text">5</div>

      Mon humeur
      <div class="slidecontainer">
        <i class="fa-solid fa-face-sad-tear"></i>
        <input type="range" min="0" max="10" value="5" class="slider slider-black"
               data-slider-target="rating_mood"
               data-action="input->slider#updateValue"
               name="health_log[rating_mood]">
        <i class="fa-solid fa-face-laugh-beam"></i>
      </div>
      <div data-slider-target="rating_mood_text">5</div>
    </div>

    <p class="text-center">Eau</p>
    <div data-controller="water" class="container-water mb-4">
      <div class="anim-water">
        <div class="glass" data-action="click->water#waterRise05">
          <div class="water" data-water-target="water05" value="0.5"></div>
        </div>
        0.5L
      </div>
      <div class="anim-water">
        <div class="glass" data-action="click->water#waterRise1">
          <div class="water" data-water-target="water1" value="1"></div>
        </div>
        1L
      </div>
      <div class="anim-water">
        <div class="glass" data-action="click->water#waterRise15">
          <div class="water" data-water-target="water15" value="1.5"></div>
        </div>
        1.5L
      </div>
          <div class="anim-water">
        <div class="glass" data-action="click->water#waterRise2">
          <div class="water" data-water-target="water2" value="2"></div>
        </div>
        2L
      </div>
      <input type="hidden" value="0"
             data-water-target="inputwater"
             name="health_log[water]">
    </div>

    <%= f.submit "Valider", class: "btn btn-orange" %>
  <% end %>
</div>
