<nav class="navbar fixed-bottom">
  <div class="container-fluid">

    <%= link_to root_path do %>
      <% if current_page?(root_path) %>
        <i class="fa fa-house orange"></i>
      <% else %>
        <i class="fa fa-house"></i>
      <% end %>
    <% end %>

    <%= link_to recipes_path do %>
      <% if current_page?(recipes_path) %>
        <i class="fa fa-utensils orange"></i>
      <% else %>
        <i class="fa fa-utensils"></i>
      <% end %>
    <% end %>

    <%= link_to new_health_log_path do %>
      <i class="fa-solid fa-circle-plus bigplus" data-toggle-navbar-target="ilog"
         data-action="click->toggle-navbar#plus"></i>
    <% end %>

    <%= link_to activities_path do %>
      <% if current_page?(activities_path) %>
        <i class="fa fa-person-running orange"></i>
      <% else %>
        <i class="fa fa-person-running"></i>
      <% end %>
    <% end %>

    <%= link_to my_logs_path do %>
      <% if current_page?(my_logs_path) && user_signed_in?%>
        <%= image_tag current_user.picture, class:"avatar-orange" %>
      <% elsif user_signed_in? %>
        <%= image_tag current_user.picture, class:"avatar" %>
      <% else %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    <% end %>

  </div>
</nav>
