<h1>Créez votre plan personnalisé</h1>
<%= simple_form_for current_user do |f| %>
  <%= f.input :firstname, label: "Prénom" %>
  <%= f.input :birthdate, label: "Date de naissance", html5: true %>
  <%= f.input :goal, collection: [
        "Je veux perdre du poids pour être aussi svelte que Léon",
        "Je veux préparer un marathon pour courir aussi bien que Léon",
        "Je veux être musclé comme Léon"
      ], label: "Sélectionnez un objectif"
  %>
  <%#= f.input :weight %>
  <%= f.input :food_preferences, label:"Préférences alimentaires" %>
  <%= f.input :sport_preferences, label:"Préférences sportives" %>
  <%= f.submit "J'obtiens mon plan personnalisé", class: "btn btn-orange" %>
<% end %>
