<div class="container container-home">

<% if user_signed_in? && @plan.present? %>

<%= @plan.name %>

  <div class="summary">

    <div class="summary-activity">
      <div class="summary-stat">
        <div class="icon-summary-stat">
          <i class="fa-solid fa-person-running"></i>
        </div>
        <p style="font-size: 10px; margin-bottom: 3px;">Cumul d'activité</p>
      </div>

      <h3 class= "title-card-home" ><%= ActivitiesLog.where(user:current_user).count %> activités réalisées au total</h3>
      <p style="font-size: 10px; margin-bottom: 3px;">Depuis le début du programme 💪 </p>
    </div>




    <div class="summary-health">
      <div class="summary-stat">
        <div class="icon-summary-health">
          <i class="fa-solid fa-heart"></i>
        </div>
        <p style="font-size: 10px; margin-bottom: 3px;">Evolution santé</p>
      </div>
      <h3 class="title-card-home"><%= @weight %> </h3>
      <p style="font-size: 10px; margin-bottom: 3px;">Depuis le début du programme 💪 </p>
    </div>




  </div>
    <div class="div-center-toggle" data-controller="toggle-home">
      <div>
         <button data-action="click->toggle-home#toggle" class="btn btn-secondary">Je m'actualise</button>

        <div class="actualition-icon d-none"  data-toggle-home-target="icons">
          <%= link_to root_path do %>
          <i class="fa-solid fa-heart icon-link-to"></i>
            <% end %>

            <%= link_to root_path do %>
          <i class="fa-solid fa-person-running icon-link-to"></i>
            <% end %>


            <%= link_to root_path do %>
              <i class="fa-solid fa-utensils icon-link-to"></i>
              <% end %>
        </div>
      </div>
    </div>


<div class="row">
  <div class="div-center">
    <div class="card-home mb-4">
      <div class="card-image" style="background-image: url('https://api.resofit.fr/api/public/uploads/1708530336433-178627646.jpeg');">
      <div class="card-body">
        <div class="card-programm-home"> <h3> Mon programme personnalisé </h3> </div>
          <div class= "button-card">
          <%= link_to "Détails", plan_path(@plan), class: "button-card-a" %>
          </div>
        </div>
      </div>
      </div>
      <div class="card-filter-first-card"></div>
    </div>
  </div>

<div class="row">
  <div class="div-center">
    <div class="card-home mb-4">
      <div class="card-image" style="background-image: url('<%= @recipe.picture %>');">
      <div class="card-body">
        <div class="card-day-home">Jour <%= @current_day_of_plan %> </div>

        <div class="card-subject">
          <h3 class="card-title-home">La recette du jour</h3>
          <h5 class="card-text-home" style="color:#ffff; opacity:0.8; font-size:12px"><%= @recipe.name %></h5>
        </div>
      </div>
      </div>
        <div class="card-filter"></div>
      </div>
  </div>
</div>

<div class="row">
  <div class="div-center">
    <div class="card-home mb-4">
      <div class="card-image" style="background-image: url('https://www.wedemain.fr/wp-content/uploads/2022/08/21-Ut4M-B-%C2%A9iancorless.com-03532-870x600.jpg');">
      <div class="card-body">
        <div class="card-day-home">Jour <%= @current_day_of_plan %> </div>

        <div class="card-subject">
          <h3 class="card-title-home">Ton activité du jour</h3>
          <h5 class="card-text-home" style="color:#ffff; opacity:0.8; font-size:12px"><%= @activity.activity %></h5>
        </div>
      </div>
      </div>
      <div class="card-filter"></div>
    </div>
  </div>
</div>




  <% elsif user_signed_in? %>
    <div class="round-home">
      <div class="text-round-home">Coach <br> Léon</div>
    </div>
    <p>Il est maintenant temps de :</p>
    <%= link_to "CREER TON PLAN", new_plan_path, class: "text-center" %><br>
    <p>afin que Coach Léon te propose ton plan personnalisé !</p>
  <% else %>
    <div class="round-home">
      <div class="text-round-home">Coach <br> Léon</div>
    </div>
      <p>Te propose un <b>programme personnalisé</b> en fonction de <b>tes objectifs</b> !</p>
      <%= link_to "Se connecter", new_user_session_path, class: "text-center" %>
      <%= link_to "S'inscrire'", new_user_registration_path, class: "text-center" %>
  <% end %>



</div>



</div>
