<div class="container">
  <div class="d-flex align-items-baseline">
    <%= link_to :back, class: "text-decoration-none text-muted" do %>
      <i class="fa-solid fa-chevron-left pe-3"></i>
    <% end %>
    <h1 class="mb-4">Mon<br><strong>suivi</strong></h1>
  </div>

  <ul class="list-group list-group-flush ms-3 mt-4">
  <li class="list-group-item mb-4"><i class="fa-solid fa-chart-simple blue pe-3"></i><%= link_to "Mon programme personnalisé", plan_path(@plan), class:"blue fw-bold" %></li>
  <li class="list-group-item mb-4"><i class="fa-solid fa-pen grey pe-3"></i><%= link_to "Changer d'objectif", new_plan_path, class:"grey" %></li>
  <li class="list-group-item mb-4"><i class="fa-solid fa-chart-pie grey pe-3"></i><%= link_to "Mon évolution santé", health_logs_path, class:"grey" %></li>
  <li class="list-group-item mb-4"><i class="fa-solid fa-person-running grey pe-3"></i><%= link_to "Mes activités", activities_logs_path, class:"grey" %></li>
  <li class="list-group-item mb-4"><i class="fa-solid fa-utensils grey pe-3"></i><%= link_to "Mes repas", meals_logs_path, class:"grey" %></li>
  <li class="list-group-item mb-4"><i class="fa-solid fa-plus orange pe-3"></i><%= link_to "M'actualiser", new_health_log_path, class:"orange fw-bold" %></li>
  <li class="list-group-item mb-4"><i class="fa-regular fa-circle-xmark grey pe-3"></i></i><%= link_to "Me déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class:"grey" %></li>
</ul>

</div>
