<div class="container">
  <div class="d-flex align-items-baseline">
    <%= link_to :back, class: "text-decoration-none text-muted" do %>
      <i class="fa-solid fa-chevron-left pe-3"></i>
    <% end %>
    <h1 class="mb-4">Mon<br><strong>suivi</strong></h1>
  </div>

      <%= link_to "Mon programme personnalisé", plan_path(@plan), class:"btn btn-orange" %>

      <%= link_to "Changer d'objectif", new_plan_path, class:"btn btn-blue" %>

      <%= link_to "Mon évolution santé", health_logs_path, class:"btn btn-blue" %>

      <%= link_to "Mes activités", activities_logs_path, class:"btn btn-blue" %>

      <%= link_to "Mes repas", meals_logs_path, class:"btn btn-blue" %>

      <%= link_to "M'actualiser", new_health_log_path, class:"btn btn-orange" %>

      <%= link_to "Se connecter à Strava", auth_strava_path, class:"btn btn-orange" %>


</div>
