<div class="container mt-3 d-flex">
  <div class="row">
    <div class="d-flex align-items-baseline">
      <%= link_to :back, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-chevron-left pe-3"></i>
      <% end %>
      <h1>Activitées<br>
      <strong>réalisées</strong></h1>
    </div>

    <div class="mt-4">
      <div class="input-blue mb-2 text-center">

      <% @all_user_activities_logs.each do |activity_log| %>
        <div class="card" style="background-image: url(<%= activity_log.activity.picture %>)">
          <p class="card-text"><%= activity_log.date %></p>
          <p class="card-text"><%= activity_log.comment %></p>

          <%= button_to "Voir le détail", activity_activities_log_path(activity_log),
              method: :get,
              class: "btn btn-blue"%>

        </div>
      <% end %>

      </div>

      <div class="input-orange mb-2 mt-2 text-center">
      </div>
    </div>

    <div class="d-flex mt-4 ms-4 me-4">
        <h2 class="h2">Mon activité du</h2>
    </div>
      <div class="mt-4 ms-4 me-4">
        <div class="card-logs">
          <%= %>
        </div>
      </div>
      <div class="mt-4 ms-4 me-4">
          <div class="h2">Mon avis sur la session</div>
          <%= %>
      </div>
      <div class="mt-4 ms-4 me-4">
      <div class="h2">Durée</div>
          <%=  %> minutes
      </div>
  </div>
</div>
