<div class="container">
  <div class="row">
    <div class="d-flex align-items-baseline">
      <%= link_to :back, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-chevron-left pe-3"></i>
      <% end %>
      <h1>Mes <b>activités</b></h1>
    </div>
  </div>

<div class="row">
  <div class="cards-logs-grid">
    <% @activities_logs.each do |activity_log| %>
      <div class="card-log">
        <div class="card-log-img" style="background-image: url(<%= activity_log.activity.picture %>)"></div>
        <div class="card-log-content">
          <h5><%= activity_log.date.strftime("%d/%m/%Y") %></h5>
          <%= activity_log.comment %> <br>
          <%= link_to "#" do %><i class="fa-solid fa-pen me-3"></i><% end %>
          <%= link_to activity_activities_logs_path(activity_log),
              data: {turbo_method: :delete,
              turbo_confirm: "Je confirme la suppression"} do %>
              <i class="fa-solid fa-trash"></i><% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
