<div class="container">
  <div class="row mb-4">
    <div class="d-flex align-items-baseline">
      <%= link_to :back, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-chevron-left pe-3"></i>
      <% end %>
      <h1>Mes <b>activités</b></h1>
    </div>
  </div>

  <% [4, 3, 2, 1].each do |week_number| %>
    <% start_date = @plan.start_date + (week_number - 1) * 7 %>
    <% end_date = @plan.start_date + week_number * 7 %>


    <div class="row mb-3">
        <h2 class="mb-3 blue">Semaine <%= week_number %></h3>
      <div class="col-auto d-flex flex-column ">
        <div class="timeline flex-grow-1">
        </div>
      </div>
      <div class="cards-logs-grid col w-100">
        <% @activities_logs.order("date DESC").each do |activity_log| %>
          <% if activity_log.date >= start_date && activity_log.date < end_date %>
            <%= link_to activities_log_path(activity_log) do %>
              <div class="card-log shadow-sm mb-1 me-3 bg-body-tertiary rounded">
                <div class="card-log-img position-relative" style="background-image: url(<%= activity_log.activity.picture %>)">
                </div>

                <div class="card-log-content">
                  <h5 class="orange"><%= activity_log.activity.activity %></h5>
                  <small class="m-0 black"><i class="fa-regular fa-calendar pe-2"></i><strong>Jour <%= (activity_log.date - @plan.start_date).to_i + 1 %></strong> (<%= activity_log.date.strftime("%d/%m/%y") %>)</small>
                  <br>
                  <small class="m-0 black"><i class="fa-regular fa-clock pe-2"></i>Durée : <%= activity_log.duration.floor() %> mn</small>

                  <p class="m-0 activity-log-comment"><%= activity_log.comment %><br></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
