<div class="container">
  <div class="d-flex align-items-baseline">
    <%= link_to :back, class: "text-decoration-none text-muted" do %>
      <i class="fa-solid fa-chevron-left pe-3"></i>
    <% end %>
    <h1 class="mb-4">Ajout<br><strong>activité</strong></h1>
  </div>

<h2>Ma session de <%= @activity.activity %></h2>
  <%= simple_form_for [@activity, @activity_log] do |f| %>
<div class="row">
  <div class="col-5">
    <div class="card-show" style="background-image: url(<%= @activity.picture %>)"></div>
  </div>

  <div class="col-7">
      <%= f.input :date, label: false, input_html: { class: 'input-blue' }, html5: true %>
      <%= f.input :duration, label: false, input_html: { class: 'input-blue' }, placeholder: "Durée en min", html5: true %>
  </div>

</div>

<div class="row mt-2">
    <%= f.input :comment, label: false, placeholder: "Commentaire", input_html: { class: 'input-text' }, html5: true %>
    <div class=""><%= f.submit "Valider", class: "btn btn-orange" %></div>
</div>

  <% end %>


</div>
