<div class="container">
  <div class="d-flex align-items-baseline">
    <%= link_to :back, class: "text-decoration-none text-muted" do %>
      <i class="fa-solid fa-chevron-left pe-3"></i>
    <% end %>
    <h1>Détail session de<br>
      <strong><%= @activity_log.activity.activity.downcase %></strong></h1>
  </div>

    <div class="d-flex mt-4 ms-4 me-4">
    </div>
      <div class="mt-4 ms-4 me-4">
        <div class="card-logs">
          <%= image_tag(@activity_log.activity.picture) %>
        </div>
    </div>
    <div class="mt-4 ms-4 me-4">
      <p><i class="fa-regular fa-comment pe-2 h2"></i><%= @activity_log.comment %></p>
      <p><i class="fa-regular fa-calendar pe-2 h2"></i> <%= @activity_log.date.strftime('%d/%m/%Y') %></p>
      <p><i class="fa-regular fa-clock pe-2 h2"></i><%= @activity_log.duration.floor() %> minutes</p>
      <p class="mb-5"><i class="fa-solid fa-bolt pe-2 h2"></i><%= @activity_log.activity.calories_loss %> calories brûlées</p>
      <hr class="grey mt-2">
        <%= link_to activities_log_path(@activity_log),
                data: {turbo_method: :delete,
                turbo_confirm: "Je confirme la suppression"} do %>
                <i class="fa-solid fa-trash pe-3 grey"></i><span class="grey">Supprimer</span>
        <% end %>
      </div>
</div>
