<div class="container">
  <div class="d-flex align-items-baseline">
    <%= link_to :back, class: "text-decoration-none text-muted" do %>
      <i class="fa-solid fa-chevron-left pe-3"></i>
    <% end %>
    <h1 class="mb-4">Toutes les<br><strong>activités</strong></h1>
  </div>

  <div class="row" data-controller="activity-category">
    <div class="mt-2">
      <button data-activity-category-target="cardio" data-action="click->activity-category#loadCardio" class="btn-orange-mini">Cardio</button>
      <button data-activity-category-target="muscu" data-action="click->activity-category#loadMuscu" class="btn-white-grey">Musculation</button>

      <div data-activity-category-target="cardioSection" class="mt-3">
        <div class="cards-grid">
          <% @cardio.each do |cardio| %>
            <div class="card">
            <p class="card-text-home">
              <%= cardio.activity %>
              <%= button_to "Ajout", new_activity_activities_log_path(cardio),
                method: :get,
                class: "btn btn-blue"
              %>
            </p>
          </div>
          <% end %>
        </div>
      </div>

      <div data-activity-category-target="muscuSection" class="mt-3 d-none">
        <div class="cards-grid">
          <% @muscu.each do |muscu| %>
            <div class="card">
            <p class="card-text-home">
              <%= muscu.activity %>
              <%= button_to "Ajout", new_activity_activities_log_path(muscu),
                method: :get,
                class: "btn btn-blue"
              %>
            </p>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
