<div data-controller="plans-toggle" class="container mt-3 d-flex">
  <div class="row m-2">
    <div class="d-flex align-items-baseline">
      <%= link_to :back, class: "text-decoration-none text-muted" do %>
        <i class="fa-solid fa-chevron-left pe-3"></i>
      <% end %>
      <h1 class="mb-4">Plan<br>
      <strong>hebdo</strong></h1>
    </div>

    <div class="input-blue-plan">
    du <%= @plan.start_date.strftime('%d/%m/%Y') %> au <%= @plan.end_date.strftime('%d/%m/%Y') %>
    </div>

    <div class="d-flex align-items-baseline pt-4">
        <h2 class="ms-4">Recommandations</h2>
        <p><i data-plans-toggle-target="foodIcon" class="fa-solid fa-utensils fa-2x m-2"></i></p>
        <p><i data-plans-toggle-target="sportIcon" class="fa-solid fa-person-running fa-2x d-none m-2"></i></p>
    </div>
    <div class="ms-4">
      <b>Ton plan</b> : <%= @plan.name%>
      <br>
      <br>
      <%= @plan.description%>
    </div>
    <div data-plans-toggle-target="togglableButton" class="ms-4 mt-2">
      <button data-plans-toggle-target="alimentationCard" data-action="click->plans-toggle#loadRecipes" class="btn-orange-mini">Alimentation</button>
      <button data-plans-toggle-target="sportCard" data-action="click->plans-toggle#loadActivities" class="btn-white-grey">Sport</button>
        <div data-plans-toggle-target="recipesSection" class="mt-3">
          <h2>Idées de recettes</h2>
            <% @plans_recipes.each do |plan_recipe| %>
            <div class="card" style="background-image: url(<%= plan_recipe.recipe.picture %>)">
              <%= button_to "Ajout", new_recipe_meals_log_path(plan_recipe.recipe),
                  method: :get,
                  class: "btn btn-blue"
              %>
              <% end %>
            </div>
        </div>

        <div data-plans-toggle-target="activitiesSection" class="d-none mt-3">
          <h2>Idées d'activités</h2>
            <% @plans_activities.each do |plan_activity|%>
            <div class="card" style="background-image: url(<%= plan_activity.activity.picture %>)">
              <%= button_to "Ajout", new_activity_activities_log_path(plan_activity.activity),
                  method: :get,
                  class: "btn btn-blue"
              %>
              <% end %>
            </div>
        </div>

    </div>

  </div>
</div>
